.cover {
    background-image: url('pic/jeep_suv_rocks_desert_112567_3568x2033.jpg');
    /* background-position-x: center;
    background-position-y: center; */
    background-size: 101vw 100vh;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.area {
    width: 100%;
    z-index: 1;
    /* background-color: rgb(19, 18, 18); */
    padding: 320px;
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.6;
    /* display: none; */
}

.modalbox {
    padding: 200px;
    margin: -1% 75% 0 5%;
    width: 55%;
    z-index: 3;
    border: 1px solid rgb(43, 189, 189);
    border-radius: 7px;
    background-color: rgb(182, 173, 173);
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
    top: -540px;
    position: relative;
    opacity: 0.95;
}

.pickupinp {
    padding: 10px;
    /* width: 100px; */
    font-family: cursive;
    border: 1pt solid whitesmoke;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

p {
    font-family: cursive;
    margin-right: 60px;
    margin-left: 1%;
    display: inline;
}

.pickup {
    padding: 15px;
    /* background-color: brown; */
    width: 50%;
    /* display: inline; */
    margin: -4% 57% 0 8%;
    top: -680px;
    position: relative;
    z-index: 3;
}

input[type=date] {
    padding: 10px;
    font-family: cursive;
    border: 1pt solid rgb(62, 247, 231);
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

#shift {
    margin-right: 45px;
}

#shift2 {
    margin-right: 80px;
}

.search {
    margin-top: 20px;
    margin-left: 25%;
    cursor: pointer;
    color: white;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border: 1pt solid black;
    border-radius: 7px;
    background-color: #4CAF50;
}

.search:hover {
    background-color: white;
    color: #4CAF50;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

#sea {
    margin-top: 10px;
}

#spec {
    background-color: whitesmoke;
}

label {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.searchbox {
    padding: 80px;
    background-color: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    z-index: 1;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    /* top: -100px; */
}

.header {
    padding: 20px;
    background-color: turquoise;
    width: 123.4%;
    margin-top: -15.5%;
    margin-bottom: 40px;
    margin-left: -15.5%;
    z-index: 3;
    /* top: -640px; */
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

td {
    border: 1px solid saddlebrown;
    padding: 40px;
    width: 100%;
    z-index: 1;
    background-color: white ;
}

td:last-child {
    background-color: rgb(221, 211, 211);
}

.rentnow {
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1pt solid black;
    border-radius: 7px;
    background-color:green;
}

.rentnow:hover {
    background-color: rgb(3, 54, 3);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
body{
    background-color:rgb(225, 240, 250);
    width: 100%;
}
.body{
    margin-top: -100px;
    padding: 200px;
}